@{
    ViewBag.Title = "AddressBook";
}

<h2 class="text-center">AddressBook</h2>
<hr />
@Ajax.ActionLink("Create New", "Create", null,new AjaxOptions
{
    UpdateTargetId = "createPost",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "Get"
}, htmlAttributes: new { @class = "btn btn-success" })
<div id="createPost"></div>

<div id="addressList">@Html.Partial("List")</div>

